{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="front-end/index.scss">
    <title>{% block title %}Take On Transplant{% endblock %}</title>
</head>

<body>
    <header class="container">
        <a href="/">Take on Transplant</a>
        {% if user.is_staff %}
        {% url 'admin:index' as admin_url %}
        <a href="{{admin_url}}">Admin</a>
        {% endif %}
        {% if user.is_authenticated %}
        {% url 'logout' as logout_url %}
        <a href="{{logout_url}}">Logout</a>
        {% endif %}
    </header>
    <div id="content" class="container">
        {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" src="front-end/index.js"></script>
    {% block script %}

    {% endblock %}
</body>
</html>
