{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block footer %}
<a href="/?attributes&highlights&tags">Extended Home Page</a>
{% endblock %}

{% block content %}
<article class="container-with-aside">
    <h1><a class="home" href="/">CF Stories</a></h1>
    <section class="large">
        <p>Explore stories from people living with Cystic Fibrosis (CF) who have a lung transplant. In the stories, they share their journeys from pre-transplant to post and give advice to others living with CF.</p>
    </section>
    <aside>
        <h3>Helpful Definitions</h3>
        <p>Hover highlights to discover more information.</p>
        <ul class="unstyled">
            {% for resource in resources %}
            <li><a data-toggle="popover" class="popover-highlight" data-content="{{resource.content}}">{{resource.name}}</a></li>
            {% endfor %}
        </ul>
    </aside>
</article>

<div class="container">
    {% for patient in patients %}
    {% url 'patient-story' patient.id as patient_story_url %}
    <div class="patient-profile">
        <a class="patient-photo" href="{{patient_story_url}}">
            {% if patient.thumbnail %}
            <img src="{{patient.thumbnail.url}}" />
            {% else %}
            <span class="patient-photo-placeholder"></span>
            {% endif %}    
        </a>
        <h2><a href="{{patient_story_url}}">{{patient.name}}</a></h2>
        {% if show_tags and patient.published_tags %}
        <ul class="tags">
        {% for tag in patient.published_tags %}
            {% if tag.warning %}
            <li class="warning">{{tag.name}}</li>
            {% else %}
            <li>{{tag.name}}</li>
            {% endif %}
        {% endfor %}
        </ul>
        {% endif %}
        <ul class="patient-attributes">
            {% for attribute in patient.attributes %}
            <li>
                <span>{{attribute.name}}</span>
                {{attribute.value}}
            </li>
            {% endfor %}
        </ul>
        {% if show_highlights and patient.story_highlights %}
        <div class="story-hightlights">
            <h3 class="title">Story Highlights</h3>
            <div class="content">
                {% for highlight in patient.story_highlights %}
                {% if highlight.title %}
                <strong>{{highlight.title}}</strong>
                {% endif %}
                <p>{{highlight.content}}</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <a href="{{patient_story_url}}">View {{patient.name}}'s story</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
