{% extends 'home-page.html' %}

{% block content %}
<div class="container-horizontal">
    <h1>{{patient.name}}</h1>
    <ul class="horizontal">
        {% for attribute in patient.attributes %}
        <li>
            <em class="title">{{attribute.name}}</em>
            {{attribute.value}}
        </li>
        {% endfor %}
    </ul>
</div>
<div class="container-with-sidebar">
    <nav class="sidebar is-sticky">
        {% for story in stories %}
        <a href="#story-{{story.id}}">{{story.title}}</a>
        {% endfor %}
    </nav>
    <div class="content">
        {% for story in stories %}
        <div id="story-{{story.id}}">
            <h2 class="sticky">{{story.title}}</h2>
            {% autoescape off %}
            {{story.content}}
            {% endautoescape %}
        </div>
        {% endfor %}
    </div>
    <a class="fixed-back" href="/">View all stories</a>
</div>

{% if show_recommended_content %}
<div class="content-gallery container">
    {% for content in related_content %}
    {% autoescape off %}
    {{content}}
    {% endautoescape %}
    {% endfor %}
    {% if user.is_staff %}
    <nav>
        <a href="{% url 'related-content' 'patient' patient.id %}">Add or Remove Related Content</a>
        <a href="{% url 'reorder-related-content' 'patient' patient.id %}">Reorder Related Content</a>
    </nav>
    {% endif %}
</div>
{% endif %}

{% endblock %}
