{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
{% if patient and explination %}
<div class="container">
    <p>{{explination}}</p>
    <div class="patient-profile">
        <h2>{{patient.name}}</h2>
    </div>    
</div>
{% endif %}
<div class="container">
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Save" />
        {% if survey_complete %}
        <input type="submit" value="Reset" name="reset" />
        {% endif %}
    </form>
</div>

{% endblock %}