{% extends 'base.html' %}

{% block content %}
<div class="container-with-sidebar">
    <div class="patient-profile">
        {% if patient.thumbnail %}
        <img src="{{patient.thumbnail.url}}" />
        {% else %}
        <span class="patient-photo-placeholder"></span>
        {% endif %}
        <span class="title">{{patient.name}}</span>
        <dl>
            {% for attribute in patient.attributes %}
            <dt>{{attribute.name}}</dt>
            <dd>{{attribute.value}}</dd>
            {% endfor %}
        </dl>
    </div>
    <div class="sidebar">
        <nav class="popover-links">
            {% for a_story in stories %}
            {% url 'patient-story' patient_id=patient.id story_id=a_story.id as story_url %}
            {% if story.id == a_story.id %}
            <a class="active" href="{{story_url}}">{{a_story.title}}</a>
            {% else %}
            <a href="{{story_url}}">{{a_story.title}}</a>
            {% endif %}
            {% endfor %}
        </nav>
    </div>
    <div class="content">
        <h1>{{story.title}}</h1>
    
        {% autoescape off %}
        {{story.content}}
        {% endautoescape %}
    </div>
</div>
{% endblock %}
