{% extends 'base.html' %}

{% block content %}
<div class="patient-profile">
    <h2>{{patient.name}}</h2>
    {% if patient.thumbnail %}
    <img src="{{patient.thumbnail.url}}" />
    {% else %}
    <span class="patient-photo-placeholder"></span>
    {% endif %}
</div>

{% for story in stories %}
<div class="collapsible-content">
    <h3 class="title">{{story.title}}</h3>
    <div class="content">
        {% autoescape off %}
        {{story.content}}
        {% endautoescape %}
    </div>
</div>
{% endfor %}
{% endblock %}
