{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../ui/index.scss">
    <title>{% block title %}CF Stories{% endblock %}</title>
</head>

<body>
    <header>
        {% block header %}
        <a class="home" href="/">CF Stories</a>
        
        {% endblock %}
    </header>
    {% block content %}{% endblock %}
    <footer>
        {% block footer %}

        {% endblock %}
        <nav>
            {% if user.is_staff %}
            {% url 'admin:index' as admin_url %}
            <a href="{{admin_url}}">Admin</a>
            {% endif %}
            {% if user.is_authenticated %}
            {% url 'search' as search_url %}
            <a href="{{search_url}}">Search</a>
            {% url 'resources' as resources_url %}
            <a href="{{resources_url}}">Resources Library</a>
            {% url 'logout' as logout_url %}
            <a href="{{logout_url}}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
    </footer>
    <script type="text/javascript" src="../ui/index.js"></script>
    {% block script %}

    {% endblock %}
</body>
</html>
