

html {
    font-size: 18px;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

a, a:visited {
    color: #0000ff;
}

a.active {
    color: #000000;
    text-decoration: none;
}


dl {
    dt, dd {
        margin: 0px;
        padding: 0px;
    }

    dt {
        margin-top: 0.5em;
        font-size: 14px;
    }
    dt:first-child{
        margin-top: 0em;
    }
    dt:after {
        content: ':';
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}


.unstyled-list,
ul.unstyled {
    padding: 0px;
    margin: 0px;
    > li {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        margin-top: 0.5em;
    }
}

dl.horizontal,
ul.horizontal {
    @extend .unstyled-list;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding: 0.25em 0em;

    > *,
    > li {
        display: block;
        margin: 0.25em 0.5em;
    }

    > li > *.title {
        font-size: 1em;
        display: block;
        font-style: normal;
        color: #565656
    }
}
