form {
    > label {
        display: block;
        margin-top: 1em;
    }

    > input[type=submit] {
        display: block;
        width: 100%;
        margin: 1em 0em;
        padding: 0.5em 2em;
    }

    label + input[type=checkbox] {
        display: block;
        float: left;

        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }

    > ul {
        padding: 0px;
        margin: 0px;
        > li {
            list-style-type: none;
            padding: 0px;
            margin: 0.5em 0em;
        }
    }
}
