
@import "normalize.css/normalize.css";
@import "tippy.js/dist/tippy.css";

$text-color: #000000;
$link-color: #0000FF;

$faq-color: #F4D06F;
$faq-background-color: #F9E9B8;

$patient-color: #8CC7CF;
$patient-background-color: #DCEFEF;

$resource-color: #C7B6D8;
$resource-background-color: #EEE7F3;

@import "./base.scss";
@import "./layout.scss";
@import "./forms.scss";
@import "./sortable.scss";


a.home {
    &:before {
        content: '';
        display: block;
        width: 1.5em;
        height: 1.5em;
        float: left;
        transform: translate(0%, -10%);
        margin-right:0.25em;
        background: #0000FF;
        -webkit-mask-image: url('../icons/home-24px.svg');
        -webkit-mask-size: cover;
        mask-image: url('../icons/home-24px.svg');
        mask-size: cover;
    }
}

nav > a {
    display: block;
    padding: 0.5em 0.25em;
    margin: 0.25em;
    text-decoration: none;

    &:hover,
    &:focus,
    &.active {
        background-color: #eee;
    }
    border-bottom: #555 2px solid;

}

nav.patient a,
nav > a.patient-stories {

    &:hover,
    &:focus,
    &.active {
        background-color: $patient-background-color;
    }

    border-bottom-color: $patient-color;
}

nav.resource a,
nav > a.resource-library {
    &:hover,
    &:focus,
    &.active {
        background-color: $resource-background-color;
    }

    border-bottom-color: $resource-color;
}

nav.question a,
nav > a.frequently-asked-questions {
    &:hover,
    &:focus,
    &.active {
        background-color: $faq-background-color;
    }

    border-bottom-color: $faq-color;
}

.popover-content {
    display: none;
}

h1, h2, h3, h4 {
    margin: 0px;
    > a, > a:visited {
        color: #000;
        text-decoration: none;

        &:before {
            background-color: $text-color;
        }
    }
    > a:hover {
        text-decoration: underline;
    }
}

.large {
    font-size: 24px;
}

.title,
a.title {
    @extend .large;
}

a.title {
    color: $text-color;
    text-decoration: none;
    &:hover,
    &:focus {
        color: $link-color;
        text-decoration: underline;
    }
}

header {
    @extend .container;

    display: flex;
    flex-direction: column;

    > * {
        display: none;
        margin: 0px 0.25em;
    }

    > a {
        display: block;
        padding: 0.25em 0em;
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    > *:first-child {
        display: block;
        flex-grow: 1;
        margin-left: 0px;
    }

    > *:last-child {
        margin-right:0px;
    }

    nav > a {
        margin: 0em 0.5em;
        padding: 0.25em 1em;
    }
}

@media(min-width: 600px) {
    
    header {
        flex-direction: row;
    }

    header > * {
        display: block;
    }

    header > nav {
        display: flex;

    }
}

@media(min-width: 1000px) {
    
    header {
        width: 960px;
    }

}

body > footer {
    background-color: #eee;
    padding: 2em 1em;

    > * {
        @extend .container;
    }

    > form {
        > label {
            display: block;
        }
    }
}

.popover-highlight,
a.popover-highlight,
a.popover-highlight:visited {
    text-decoration-style: dashed;
    color: $text-color;
    background-color: #fff4da;
}

.tippy-box {
    background-color: #fff;
    border: #000 2px solid;
    color: #000;
    font-size: 14px;
}

.tippy-box > .tippy-content {
    overflow: hidden;

    > .popover-read-more {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 1em 0.5em;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 40%);
    }
}

.popover-target {
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    background-color: #000;
    -webkit-mask-image: url('../icons/chat_bubble_outline-24px.svg');
    -webkit-mask-size: cover;
    mask-image: url('../icons/chat_bubble_outline-24px.svg');
    mask-size: cover;
}

a > .popover-target {
    background-color: #0000FF;
}

.content-gallery {
    @extend .unstyled;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    > * {
        display: block;
        position: relative;
        width: 100%;
        margin: 0em;
        margin-bottom: 1em;
    }

    > nav {
        border-width: 0px;
        margin-bottom: 0.5em;
    }

    > * {
        background-color: #eee;

        > * {
            margin: 1em;
        }

        > a:first-child,
        > a:last-child {
            display: block;
            padding: 1em;
            margin: 0em;
            color: $text-color;
            text-decoration: none;
            &:hover,
            &:focus {
                text-decoration: underline;
                color: #00F;
            }
        }
        
        > a:first-child {
            @extend .large;
            padding-bottom: 0.5em;
            border-bottom: #aaa 0.5em solid;
            background-color: #fff;
        }
    
        > a:last-child {
            display: block;
            background-color: #aaa;
            padding: 1em;
            margin: 0em;
        }

        > .content {
            background-color: #fff;
            margin: 0.5em;
            padding: 0.5em;
        }
    }

    > h1, > h2, > h3,
    > nav {
        background-color: #FFF;
        margin: 0px;
        padding: 0px;
    }

    > nav > a,
    > nav > a:first-child,
    > nav > a:last-child {
        font-size: 1em;
        background-color: #eee;
        border-bottom: #555;
    }

    > .patient-story {
        background-color: $patient-background-color;

        > a:first-child {
            border-bottom-color: $patient-color;
        }
        > a:last-child {
            background-color: $patient-color;
        }
    }

    > .resource-article {
        background-color: $resource-background-color;

        > a:first-child {
            border-bottom-color: $resource-color;
        }

        > a:last-child {
            background-color: $resource-color;
        }
    }

    > .frequently-asked-question {
        background-color: $faq-background-color;

        > a:first-child {
            border-bottom-color: $faq-color;
        }

        > a:last-child {
            background-color: $faq-color;
        }
    }

}

@media(min-width: 600px) {
    .content-gallery > * {
        flex: 1 1 auto;
        margin: 1em 0em;
    }

    .content-gallery > nav {
        flex: 1 0 auto;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
    }
}

.mycfstage-callout {
    font-size: 24px;
    border-top: 1px #000 solid;
    border-bottom: 1px #000 solid;
    text-align: center;

    margin: 3em 0em;

    > a.button {
        display: inline-block;
        text-decoration: none;
        color: #000;
        background-color:#eee;
        border: 1px solid #000;
        width: auto;
        padding: 0.5em 1em;
        margin: 1em auto;
        &:hover,
        &:focus {
            background-color:rgb(221, 221, 255);
            border-color: #00F;
        }
    }
}


.faq-response {
    margin: 1em 0em;
    
    > h3:first-child {
        margin: 0px;
        padding: 0px;
    }

    > .content > *:first-child {
        margin-top: 0px;
    }
    > .content > *:last-child {
        margin-bottom: 0px;
    }
}

