
@import "normalize.css/normalize.css";
@import "tippy.js/dist/tippy.css";

$text-color: #000000;
$secondary-background-color: #c8f2f7;

@import "./base.scss";
@import "./layout.scss";



a.home {
    &:before {
        content: '';
        display: block;
        width: 1.5em;
        height: 1.5em;
        float: left;
        transform: translate(0%, -10%);
        margin-right:0.25em;
        background: #0000FF;
        -webkit-mask-image: url('../icons/home-24px.svg');
        -webkit-mask-size: cover;
        mask-image: url('../icons/home-24px.svg');
        mask-size: cover;
    }
}

nav > a {
    display: block;
    padding: 0.25em 0.25em;
}

.popover-content {
    display: none;
}

h1, h2, h3, h4 {
    margin: 0px;
    > a, > a:visited {
        color: #000;
        text-decoration: none;

        &:before {
            background-color: $text-color;
        }
    }
    > a:hover {
        text-decoration: underline;
    }

    &.sticky {
        position: sticky;
        top: 0px;
        width: 100%;
        padding: 0.5em 0em;
        background-color: #fff;
        border-bottom: 1px $text-color solid;

    }
}

@media(min-width: 1000px) {
    h1, h2, h3, h4 {
        &.sticky {
            top: 125px;
        }
    }
}

.large {
    font-size: 24px;
}

header {
    @extend .container;

    display: flex;
    flex-direction: column;

    > * {
        display: none;
        margin: 0px 0.25em;
    }

    > *:first-child {
        display: block;
        flex-grow: 1;
        margin-left: 0px;
    }

    > *:last-child {
        margin-right:0px;
    }
}

@media(min-width: 600px) {
    
    header {
        flex-direction: row;
    }

    header > * {
        display: block;
    }
}

body > footer {
    background-color: #eee;
    padding: 2em 1em;

    > * {
        @extend .container;
    }

    > form {
        > label {
            display: block;
        }
    }
}

.popover-highlight,
a.popover-highlight,
a.popover-highlight:visited {
    text-decoration-style: dashed;
    color: $text-color;
    background-color: #fff4da;
}

.tippy-box {
    background-color: #fff;
    border: #000 2px solid;
    color: #000;
    font-size: 14px;
}

.tippy-box > .tippy-content {
    overflow: hidden;

    > .popover-read-more {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 1em 0.5em;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 40%);
    }
}

.popover-target {
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    background-color: #000;
    -webkit-mask-image: url('../icons/chat_bubble_outline-24px.svg');
    -webkit-mask-size: cover;
    mask-image: url('../icons/chat_bubble_outline-24px.svg');
    mask-size: cover;
}

a > .popover-target {
    background-color: #0000FF;
}

form {
    > label {
        display: block;
        margin-top: 1em;
    }

    > input[type=submit] {
        display: block;
        width: 100%;
        margin: 1em 0em;
        padding: 0.5em 2em;
    }

    label + input[type=checkbox] {
        display: block;
        float: left;

        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }
}


.content-gallery,
ul.content-gallery {
    @extend .unstyled;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    > *,
    > li {
        display: block;
        width: 100%;
        padding: 0.5em;
        margin: 0em;
        margin-bottom: 1em;
    }

    > * > a:first-child {
        @extend .large;
        display: block;
        color: $text-color;
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: underline;
            color: #00F;
        }
    }
}

@media(min-width: 600px) {
    .content-gallery > *,
    ul.content-gallery > li {
        width: 250px;
        flex: 0 0 auto;
    }
}

