
@import "normalize.css/normalize.css";
@import "tippy.js/dist/tippy.css";

$text-color: #000000;
$link-color: #0000FF;
$secondary-background-color: #c8f2f7;

@import "./base.scss";
@import "./layout.scss";
@import "./forms.scss";
@import "./sortable.scss";


a.home {
    &:before {
        content: '';
        display: block;
        width: 1.5em;
        height: 1.5em;
        float: left;
        transform: translate(0%, -10%);
        margin-right:0.25em;
        background: #0000FF;
        -webkit-mask-image: url('../icons/home-24px.svg');
        -webkit-mask-size: cover;
        mask-image: url('../icons/home-24px.svg');
        mask-size: cover;
    }
}

nav > a {
    display: block;
    padding: 0.25em 0.25em;
}

.popover-content {
    display: none;
}

h1, h2, h3, h4 {
    margin: 0px;
    > a, > a:visited {
        color: #000;
        text-decoration: none;

        &:before {
            background-color: $text-color;
        }
    }
    > a:hover {
        text-decoration: underline;
    }
}

.large {
    font-size: 24px;
}

.title,
a.title {
    @extend .large;
}

a.title {
    color: $text-color;
    text-decoration: none;
    &:hover,
    &:focus {
        color: $link-color;
        text-decoration: underline;
    }
}

header {
    @extend .container;

    display: flex;
    flex-direction: column;

    > * {
        display: none;
        margin: 0px 0.25em;
    }

    > *:first-child {
        display: block;
        flex-grow: 1;
        margin-left: 0px;
    }

    > *:last-child {
        margin-right:0px;
    }
}

@media(min-width: 600px) {
    
    header {
        flex-direction: row;
    }

    header > * {
        display: block;
    }
}

body > footer {
    background-color: #eee;
    padding: 2em 1em;

    > * {
        @extend .container;
    }

    > form {
        > label {
            display: block;
        }
    }
}

.popover-highlight,
a.popover-highlight,
a.popover-highlight:visited {
    text-decoration-style: dashed;
    color: $text-color;
    background-color: #fff4da;
}

.tippy-box {
    background-color: #fff;
    border: #000 2px solid;
    color: #000;
    font-size: 14px;
}

.tippy-box > .tippy-content {
    overflow: hidden;

    > .popover-read-more {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 1em 0.5em;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 40%);
    }
}

.popover-target {
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    background-color: #000;
    -webkit-mask-image: url('../icons/chat_bubble_outline-24px.svg');
    -webkit-mask-size: cover;
    mask-image: url('../icons/chat_bubble_outline-24px.svg');
    mask-size: cover;
}

a > .popover-target {
    background-color: #0000FF;
}

.content-gallery {
    @extend .unstyled;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    > * {
        display: block;
        width: 100%;
        padding: 0.5em;
        margin: 0em;
        margin-bottom: 1em;
        border-top: $text-color 1px solid;
    }

    > nav {
        border-width: 0px;
        margin-bottom: 0.5em;
    }

    > * > a:first-child {
        @extend .large;
        display: block;
        color: $text-color;
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: underline;
            color: #00F;
        }
    }

}

@media(min-width: 600px) {
    .content-gallery > * {
        width: 250px;
        flex: 0 0 auto;
    }

    .content-gallery > nav {
        flex: 1 0 auto;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
    }

    .content-gallery > *.patient-story {
        display: block;
        width: 100%;

        > * {
            display: block;
            float: left;
            width: 250px;
        }

        > a {
            display: block;
            float: none;
            clear: both;
        }
    }
}

@media(min-width: 1000px) {

    .content-gallery > * {
        width: 250px;
        flex: 0 0 auto;
    }

    .content-gallery > *.patient-story {

        > * {
            width: 250px;
        }

        > .content {
            width: 400px;
        }

        > a {
            display: block;
            float: none;
            clear: both;
        }
    }
}

.list-sort {
    display: block;
    position: relative;
    > nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0%);
        background-color: #fff;
        border: #000 1px solid;
        white-space: nowrap;
        > * {
            text-decoration: none;
            margin: 0em;
            padding: 0.5em 1em;
            border-top: 1px #000 solid;
            color: #000;

            &:first-child {
                border-top-width: 0px;
            }

            &:hover {
                background-color: rgb(198, 198, 255);
            }

            &.selected {
                color: #00F;
            }
        }
    }

    > span:hover + nav,
    > span:focus + nav,
    > nav:hover,
    > nav:focus-within {
        display: block;
    }
}

.mycfstage-callout {
    font-size: 24px;
    border-top: 1px #000 solid;
    border-bottom: 1px #000 solid;
    text-align: center;

    margin: 3em 0em;

    > a.button {
        display: inline-block;
        text-decoration: none;
        color: #000;
        background-color:#eee;
        border: 1px solid #000;
        width: auto;
        padding: 0.5em 1em;
        margin: 1em auto;
        &:hover,
        &:focus {
            background-color:rgb(221, 221, 255);
            border-color: #00F;
        }
    }
}

