

html {
    display:block;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    width: 100%;
    height: 100%;

    > * {
        flex: 0 0 auto;
    }

    > footer {
        flex: 1 0 auto;
    }
}




.container {
    padding: 0.5em 1em;
}

.content {
    font-size: 18px;
}

@media(min-width: 600px) {
    .container {
        width: 560px;
        margin: 0px auto;
    }
}

@media(min-width: 1000px) {
    .container {
        width: 960px;
        margin: 0px auto;
    }
}

.container-horizontal {
    @extend .container;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    > * {
        flex: 1 1 auto;
        margin-left: 1em;
    }

    > *:first-child {
        flex: 0 0 auto;
        width: 290px;
        margin-left: 0em;
    }
}

.container-with-sidebar {
    @extend .container;
}

@media(min-width: 600px) {
    .container-with-sidebar {
        position: relative;

        &::after {
            content:'';
            display: block;
            clear: both;
        }

        > .content {
            display: block;
            width: 380px;
            float: right;
        }

        > .sidebar {
            position: sticky;
            top: 0px;
            left: 0px;
            width: 180px;
            float: left;
            background-color: #fff;
            z-index: 5;

            > a {
                margin: 0.25em;
                margin-right: 1em;
                padding: 0.5em 0em;
                &.active {
                    background-color: #c8f2f7;
                }
            }

            > nav.popover-links > * {
                display: block;
                width: 50px;
                height: 50px;
                overflow: hidden;
                text-indent: -10000px;
                background-color: #71d0da;
                border: #71d0da 3px solid;
                border-radius: 50%;
                margin: 10px auto;

                &.active {
                    background-color: #c8f2f7;
                }
            }
        }

        > .fixed-back {
            display: block;
            clear: both;
            position: sticky;
            bottom: 0px;
            padding-bottom: 1em;
            z-index: 4;
        }
    }

}

@media(min-width: 1000px) {
    .container-with-sidebar {
        > .sidebar {
            width: 290px;
            top: 0px;
        }

        > .content {
            width: 660px;
        }
    }
}

.container-with-aside {
    @extend .container;
}

@media(min-width: 1000px) {
    .container-with-aside {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        > * {
            flex: 1 1 600px;
        }

        > h1, >h2, > h3 {
            flex: 1 0 100%;
        }

        > aside {
            flex: 0 0 300px;
            border-left: 2px #000 solid;
            padding-left: 1em;
            margin-left: 1em;
        }

        p {
            margin-top: 0px;
        }
    }
}

.container-with-form {
    @extend .container-with-sidebar;

}

@media(min-width: 1000px) {
    .container-with-form > *,
    .container-with-form > .content{
        float: left;
        width: 660px;
    }

    .container-with-form > form {
        float: right;
        width: 250px;
        position: sticky;
        top: 0px;
    }
    .container-with-form > nav:first-child {
        clear: both;
        position: sticky;
        top: 0px;
        background-color: #fff;
        padding: 1em 0em;
        display: flex;
        justify-content: flex-end;

        > *:first-child {
            flex: 1 0 auto;
        }
    }
}

