{% extends 'home-page.html' %}

{% block content %}
<div class="container">
    <h1>Edit Related Content</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% for content_type in content_types %}
        <fieldset>
            <legend>{{content_type.title}}</legend>
            {% for item in content_type.items %}
            <label for="{{item.content_id}}">{{item.title}}</label>
            <input id="{{item.content_id}}"
                type="checkbox"
                name="related_content[]"
                value="{{item.content_id}}"
                {% if item.content_id in related_content %}checked="checked"{% endif %}
                />
            {% endfor %}
        </fieldset>
        {% endfor %}
        <input type="submit" value="Save" />
    </form>
</div>
{% endblock %}

