{% extends 'content-list-page.html' %}

{% block mainContent %}
<article class="container-with-aside">
    <h1>Frequently Asked Questions</h1>
    <p class="large">
        Read questions about lung transplant and answers provided by people
        with CF who have undergone lung transplant, in their own words. 
        These questions are the most frequent ones they hear or the ones they 
        asked when they went through the process. There are also responses 
        from transplant doctors for questions about medical information. 
    </p>
</article>
{% endblock %}

{% block listContent %}
{% for question in questions  %}
{% include 'question-partial.html' %}
{% endfor %}
{% endblock %}

