{% extends 'home-page.html' %}

{% block content %}
<section class="container">
    <p class="large">{{question.text}}</p>
    {% for response in question.responses  %}
    <article class="faq-response">
        <div class="content">
            {% autoescape off %}
            {{response.text}}
            {% endautoescape %}    
        </div>
        <aside>
            {% if response.author %}
            <p class="title">{{response.author.name}}</p>
            {% if response.author.description %}
            <p>{{response.author.description}}</p>
            {% endif %}
            {% if response.author.patient %}
            <a href="{% url 'patient-story' response.author.patient.id %}">View {{response.author.name}}'s story</a>
            {% endif %}
            {% endif %}
        </aside>
    </article>
    {% endfor %}
</section>
{% if show_recommended_content %}
<div class="content-gallery container">
    {% for content in related_content %}
    {% autoescape off %}
    {{content}}
    {% endautoescape %}
    {% endfor %}
    {% if user.is_staff %}
    <nav>
        <a href="{% url 'related-content' 'question' question.id %}">Add or Remove Related Content</a>
        <a href="{% url 'reorder-related-content' 'question' question.id %}">Reorder Related Content</a>
    </nav>
    {% endif %}
</div>
{% endif %}
{% endblock %}

