{% extends 'home-page.html' %}

{% block content %}
<article class="container">
    <p class="large">{{question.text}}</p>
    <ul>
    {% for response in question.responses  %}
        <li>
            {% autoescape off %}
            {{response.text}}
            {% endautoescape %}
            {% if response.patient %}
            <p>By {{response.patient.name}}</p>
            {% endif %}
        </li>
    {% endfor %}    
    </ul>
</article>
<div class="content-gallery container">
    {% for content in related_content %}
    <p>{{content}}</p>
    {% endfor %}
    <a href="{% url 'question-related-content' question.id %}">Add or Remove Related Content</a>
    <a href="{% url 'question-reorder-related-content' question.id %}">Reorder Related Content</a>
</div>

{% endblock %}

