{% extends 'home-page.html' %}

{% block content %}
<article class="container">
    <p class="large">{{question.text}}</p>
    <ul>
    {% for response in question.responses  %}
        <li>
            {% autoescape off %}
            {{response.text}}
            {% endautoescape %}
            {% if response.patient %}
            <p>By {{response.patient.name}}</p>
            {% endif %}
        </li>
    {% endfor %}    
    </ul>
</article>
<div class="content-gallery container">
    {% for content in related_content %}
    {% autoescape off %}
    {{content}}
    {% endautoescape %}
    {% endfor %}
    <nav>
        <a href="{% url 'related-content' 'question' question.id %}">Add or Remove Related Content</a>
        <a href="{% url 'reorder-related-content' 'question' question.id %}">Reorder Related Content</a>
    </nav>
</div>

{% endblock %}

