{% extends 'base.html' %}

{% block header %}
<a class="home" href="{% url 'home' %}">Take on Transplant</a>
{% if show_top_navigation %}
<nav>
    {% for item in navigation_links %}
    <a class="{{item.key}} {% if item.selected %} active {% endif %}" href="{{item.link}}">{{item.name}}</a>
    {% endfor %}
</nav>
{% endif %}
{% endblock %}

{% block content %}
{% if not study_session %}
<div class="container-with-aside">
    <article>
        <h1>Take On Transplant</h1>
        <p class="large">
            Take on Transplant is a website developed in collaboration with people living with cystic fibrosis (CF). We developed this website to help people feel empowered for conversations and decisions about lung transplant. This website couples real-life CF patient experiences of lung transplant in their own words (‘CF Stories’) with up-to-date, CF-specific medical information about lung transplant. 
        </p>
    </article>
    <aside>
        <p>This is a prototype of the Take on Transplant website for a usability study to explore how variation in website affordances effect looking for information.</p>
        <p>To participate in the usability study, please choose an example patient to view a custom prototype. <strong>You are using the default website.</strong></p>
        <form action="{% url 'study-session' %}" method="POST">
            {% csrf_token %}
            <input type="submit" name="tamika" value="Tamika" />
            <input type="submit" name="marco" value="Marco" />
        </form>
    </aside>
</div>
{% endif %}

{% if not show_survey %}
<section class="container content-gallery home-gallery">
    <article class="patient-story">
        <a href="{% url 'patient-story-list' %}">Patient Stories</a>
        <div class="content">
            <p>
                Explore stories from people living with cystic fibrosis (CF) as they share their experiences with lung transplant.
                In the stories, they share their journeys from pre-transplant to life after transplant, and they give
                advice to others living with CF.
            </p>
        </div>
        <a href="{% url 'patient-story-list' %}">View patient stories</a>
    </article>
    <article class="resource-article">
        <a href="{% url 'resource-list' %}">Resource Library</a>
        <div class="content">
            <p>Find medical information, facts, and helpful resources as you consider lung transplant for yourself or as a caregiver.</p>
        </div>
        <a href="{% url 'resource-list' %}">View resource library</a>
    </article>
    <article class="frequently-asked-question">
        <a href="{% url 'question-list' %}">Frequently Asked Questions</a>
        <div class="content">
            <p>Read questions about lung transplant and answers provided by people with CF who have undergone lung transplant, in their own words. These questions are the most frequent ones they hear or the ones they asked when they went through the process.</p>
        </div>
        <a href="{% url 'question-list' %}">View frequently asked questions</a>
    </article>
</section>
{% endif %}

{% if show_survey and took_survey %}
<div class="container-with-aside">
    <div class="content">
        <h1>Survey Results</h1>    
        <p>You have advanced lung disease with markers of increased disease severity based on your low FEV1 and frequent CF exacerbations that required IV antibiotics. The use of Trikafta (elexacaftor/tezacaftor/ivacaftor) may delay the need for lung transplant, but people with advanced lung disease are likely to benefit from lung transplant at some time in the future.</p>
    </div>
    <aside>
        <p>It is important to continue to talk with your doctor about lung transplant. You may want to connect with patients who have been through the lung transplant journey. </p>
    </aside>
</div> 
<div class="container callout">
    <p>These recommendations were generated from your answers to the My CF Stage Survey, to <a href="{% url 'mycfstage' %}">change your answers, click here.</a></p>
</div>
{% endif %}

{% if show_survey and not took_survey %}
<div class="container">
    <div class="mycfstage-callout">
        <p>Take the <a href="{% url 'mycfstage' %}">My CF Stage</a> survey to get personalized content.</p>
        <a class="button" href="{% url 'mycfstage' %}">Start My CF Stage</a>
    </div>
</div>
{% endif %}

{% if contents %}
<div id="recommended" class="container content-gallery">
    <h2>Recommended Content</h2>
    {% for content in contents %}
    {% autoescape off %}
    {{content}}
    {% endautoescape %}
    {% endfor %}
    <nav>
        <a href="{% url 'related-content' 'persona' 'marco' %}">Add or Remove Related Content</a>
        <a href="{% url 'reorder-related-content' 'persona' 'marco' %}">Reorder Related Content</a>
    </nav>
</div>
{% endif %}

{% endblock %}

{% block footer %}

{% if study_session %}
<form action="{% url 'study-session' %}" method="POST">
    {% csrf_token %}
    <p>You are participating in the Take on Transplant usability study.</p>
    {% if study_session.persona == 'tamika' %}
    <p>
        <strong>Tamika</strong> as had a drastic decline in her health status and she and her doctor
        are contemplating whether it is time to pursue lung transplant as a potential
        treatment option. Search for and highlight information about the lung transplant evaluation process.
    </p>
    {% endif %}
    {% if study_session.persona == 'marco' %}
    <p>
        <strong>Marco</strong> has advanced CF but his health has been stable. He is curious about lung transplant and is considering raising the topic with his doctor during his next clinic visit. Search for and highlight information about signs that CF is worsening and may require lung transplant.
    </p>
    {% endif %}
    <input type="submit" name="clear" value="End Session" />
</form>   
{% endif %}

{% endblock %}
