{% extends 'base.html' %}

{% block header %}
<a class="home" href="{% url 'home' %}">Take on Transplant</a>
{% if show_top_navigation %}
<a href="{% url 'patient-story-list' %}">Patient Stories</a>
<a href="{% url 'resource-list' %}">Resource Library</a>
<a href="{% url 'question-list' %}">Frequently Asked Questions</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <h1>Take On Transplant</h1>
    <p>This is a prototype website to help people with Cystic Fibrosis understand lung transplant as a treatment option, so they can make informed care decisions.</p>
    {% if study_session %}
    <form action="{% url 'study-session' %}" method="POST">
        {% csrf_token %}
        <p>Your study session id is {{study_session.id}}</p>
        <input type="submit" name="clear" value="Clear" />
    </form>    
    {% else %}
    <form action="{% url 'study-session' %}" method="POST">
        {% csrf_token %}
        <input type="submit" name="prototype-a" value="Prototype A" />
        <input type="submit" name="prototype-b" value="Prototype B" />
    </form>
    {% endif %}
    {% if took_survey %}
    <p>You took the MyCFStageSurvey, to <a href="{% url 'mycfstage' %}">change your answers, click here.</a></p>
    {% else %}
    <p>Take the <a href="{% url 'mycfstage' %}">MyCFStage</a> survey to get personalized content. <a href="{% url 'mycfstage' %}">Click here</a></p>
    {% endif %}
    {% if contents %}
    <section class="content-gallery">
    {% for content in contents %}
    {% autoescape off %}
    {{content}}
    {% endautoescape %}
    {% endfor %}
    </section>
    {% else %}
    <ul>
        <li><a href="{% url 'mycfstage' %}">My CF Stage</a></li>
        <li><a href="{% url 'patient-story-list' %}">Patient Stories</a></li>
        <li><a href="{% url 'resource-list' %}">Resource Library</a></li>
        <li><a href="{% url 'question-list' %}">Frequently Asked Questions</a></li>
        <li>Glossary</li>
    </ul>
    {% endif %}
</div>
{% endblock %}

{% block footer %}
{% if form %}
<form action="{% url 'home' %}" method="POST" novalidate>
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Change" />
</form>
{% endif %}
{% endblock %}
