{% extends 'content-list-page.html' %}

{% block mainContent %}
<article class="container">
    <h1>Patient Stories</h1>
    <p class="large">
        Explore stories from people living with cystic fibrosis (CF) as they share
        their experiences with lung transplant.
    </p>
    <p>
        In the stories, they share their journeys from pre-transplant to life after 
        transplant, and they give advice to others living with CF. Stories may 
        include good outcomes or challenges they have faced to help educate those who 
        may be considering lung transplant as a treatment option now or in the future. 
        There are also stories to provide different perspectives, including caregivers for 
        people with CF who went through transplant and individuals who felt better after 
        starting elexacaftor/tezacaftor/ivacaftor (Trikafta) and deferred transplant.
    </p>
</article>
{% endblock %}
