{% extends 'content-list-page.html' %}

{% block mainContent %}
<article class="container-with-aside">
    <div class="content">
        <h1>Resource Library</h1>
        <p class="large">
            Find medical information, facts, and helpful resources as you consider lung
            transplant for yourself or as a caregiver.
        </p>
    </div>
    <aside>
        <p>
            <strong>Topics include:</strong> Planning for transplant; caregiver information; transplant
            referral (including signs that your CF is worsening); eligibility, evaluation,
            and listing; the transplant surgery; surviving and thriving after transplant;
            and much more.
        </p>
        <p>
            This resource can help prepare you for conversations with your
            CF doctor, your caregivers, and your family/friends.
        </p>
    </aside>
</article>
{% endblock %}
