{% extends 'base.html' %}

{% block header %}
<a class="home" href="{% url 'website-home' %}">Take on Transplant</a>
<a href="{% url 'website-stories' %}">Patient Stories</a>
<a href="{% url 'website-resources' %}">Resource Library</a>
<a href="{% url 'website-faq-categories' %}">Frequently Asked Questions</a>
{% endblock %}

{% block content %}
<article class="container">
    <h1>{{article.title}}</h1>
    {% autoescape off %}
    {{article.content}}
    {% endautoescape %}
    {% for child_article in article.children %}
    <section>
        <h2 id="article-{{child_article.id}}">{{child_article.title}}</h2>
        {% if child_article.description %}
        <p>{{child_article.description}}</p>
        {% endif %}
        {% if child_article.content %}
        {% autoescape off %}
        {{child_article.content}}
        {% endautoescape %}
        {% endif %}
    </section>
    {% endfor %}
</article>
{% endblock %}

