{% extends 'home-page.html' %}

{% block content %}
<section class="container">
    {% for patient in patients %}
    {% url 'patient-story' patient.id as patient_story_url %}
    <article>
        <h2><a href="{{patient_story_url}}">{{patient.name}}</a></h2>
        <ul class="patient-attributes">
            {% for attribute in patient.attributes %}
            <li>
                <span>{{attribute.name}}</span>
                {{attribute.value}}
            </li>
            {% endfor %}
        </ul>
        <div class="story-hightlights">
            <h3 class="title">Story Highlights</h3>
            <div class="content">
                {% for highlight in patient.story_highlights %}
                {% if highlight.title %}
                <strong>{{highlight.title}}</strong>
                {% endif %}
                <p>{{highlight.content}}</p>
                {% endfor %}
            </div>
        </div>
        <a href="{{patient_story_url}}">View {{patient.name}}'s story</a>
    </article>
    {% endfor %}
</section>
{% endblock %}
